<%- include('includes/head.ejs') %>
<title>Add user</title>
  </head>
  <body>
    <main>
      <form action="/" method="POST">
        <div>
          <label for="name">Type in youre name:</label>
          <input type="text" name="name" id="name" />
        </div>

        <button type="submit">Add Product</button>
      </form>
    </main>
    <%- include('includes/end.ejs') %>